body{
	/*background-image: url(../img/bookmarks-bg.jpg);*/
}
article {
	min-height: calc(100% - 116px);
	padding-top: 80px;
	padding: 80px 10px 0;
	max-width: 960px;
	margin: 0 auto;
	background-color: #fff;
}

.bookmarks-list {
	padding-top: 10px;
}

.bookmarks-list li {}

.bookmarks-list li:nth-child(5n) {
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.bookmarks-list a {
	line-height: 1.9em;
	font-size: 16px;
	font-size: 1.6rem;
}

@media only screen and (max-width: 700px) {
	html {
		font-size: 12px;
	}
}